.page-header {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: top;
}

.page-header .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.page-header .header {
    color: white;
}